<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {% include head.html %}
<body>
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}

<script>
  console.info("Hi there! Thanks for visiting.")
  console.info("Have a snake.")
  console.info("%c\n                 _           \n                | |          \n  ___ _ __   ___| | __       \n / __| '_ \\ / _ \\ |/ /       \n \\__ \\ | | |  __/   <        \n |___/_| |_|\\___|_|\\_\\       \n                             \n Web Development is no joke\u2122 \n                             ", 'background:#000;color:#0f0')
  console.info("(stolen with love from https://gus.host/ )")
</script>
</body>
</html>
